.test {
    background-color: black;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
}

.register-container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
}

.login-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border: 1px solid #909090;
    box-shadow: 3px 5px 14px 1px #888888;
    margin-top: 200px;
}

.register-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border: 1px solid #909090;
    box-shadow: 3px 5px 14px 1px #888888;
    margin-top: 200px;
}

.login-btn {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.register-btn {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.login-logo {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.login-form-container a {
    font-size: 13px;
    color: #888888;
    text-decoration: none;
}

.login-form-container a:hover {
    color: #888888;
    text-decoration: none;
}

.register-form-container div:first-child span {
    font-size: 19px;
}

.register-form-container a {
    font-size: 13px;
    color: #888888;
    text-decoration: none;
}

.register-form-container a:hover {
    color: #888888;
    text-decoration: none;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 100%;
}

.library-search-container {
    margin: 20px auto;
    padding: 10px 0px;
    width: 500px;
}

.library-search-input {
    width: 80% !important;
}

.search-field-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    position: relative;
    top: 3px;
}

.bird-result-container {
    margin-bottom: 15px;
    height: 90px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #65724a;
    border-radius: 15px;
    box-shadow: 6px 5px 8px #d8d8d8a3;
    padding: 15px;
}

.bird-name {
    color: #65724a;
    font-size: 21px;
    text-decoration: none;
    text-underline: none;
    cursor: pointer;
}

.bird-name:hover, .bird-name:visited {
    color: #65724a;
    font-size: 21px;
}

.bird-name-lat {
    color: #6c757d;
}

.load-more-bird-results {
    margin-bottom: 15px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.main-bird-info-container, .main-user-info-container {
    margin-top: 40px;
}

.main-bird-info {
    width: 100%;
    height: 270px;
}

.main-bird-info .col-7 {
    margin-top: 15px;
}

.main-bird-info h1 {
    color: #65724a;
    font-weight: bold;
    margin-bottom: 12px;
}

.main-bird-info h4 {
    color: #888888;
    font-style: italic;
}

.bird-map-link, .user-map-link {
    margin-top: 15px;
}

.link-container {
    width: 250px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #65724a;
    border: 1px solid #65724a;
    border-radius: 8px;
    box-shadow: 4px 4px 9px grey;
}

.link-container a {
    color: #65724a;
    position: relative;
    top: 18px;
}

.link-container a:hover {
    color: #65724a;
}

.secondary-bird-info {
    margin-top: 25px;
}

.secondary-bird-info .bird-data {
    margin-left: auto;
    margin-right: auto;
    background-color: #8888881f;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondary-bird-info .bird-data .data-row {
    font-size: 19px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bird-data .data-row .key-data {
    font-style: italic;
    color: #888888;
}

.bird-data .data-row .key-data .fa-chevron-right {
    margin-right: 10px;
}

.bird-data .data-row .value-data {
    color: #65724a;
}

.left-menu-content {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 65px;
    box-shadow: 8px 0px 12px #d8d8d8a3;
}

.left-menu-content .navigation-buttons {
    position: fixed;
    bottom: 0px;
    font-size: 25px;
    left: 19px;
}

.left-menu-content .buttons-container {
    margin-top: 15px;
    position: fixed;
    font-size: 25px;
    left: 19px;
}

.left-menu-content .navigation-buttons .btn-tooltip, .left-menu-content .buttons-container .btn-tooltip {
    font-size: 19px;
    display: none;
}

.left-menu-content .navigation-buttons .left-menu-btn:hover, .left-menu-content .buttons-container .left-menu-btn:hover {
    color: #65724a;
}

.settings-section {
    margin-top: 50px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #65724a;
    border-radius: 10px;
}

.settings-section .change-passw-section {
    border: 1px solid #6c757d;
    border-radius: 5px;
    padding: 10px 20px;
}

.settings-section .change-passw-section #ChangePasswdBtn {
    margin-top: 5px;
    position: relative;
    left: 89.5%;
}

.settings-section .reset-observations-section {
    border: 1px solid #6c757d;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
}

.settings-section .reset-observations-section input {
    display: none;
}

.analytic-data-section {
    margin-top: 15px;
    margin-bottom: 35px;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    padding: 10px 20px;
}


.last-observation-section {
    height: 160px;
}

.last-observation-section #ListContainer {
    height: 115px;
    overflow-y: scroll;
    overflow-x: clip;
}

.last-observation-section .last-observation-row-element:first-child {
    border-bottom: 1px solid #888888;
}

.last-observation-section .last-observation-row-element div {
    border-right: 1px solid #6c757d;
}

.last-observation-section .last-observation-row-element div:first-child {
    border-left: 1px solid #6c757d;
}

.observation-graph {
    margin-left: auto;
    margin-right: auto;
}
