.test {
    background-color: black;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
}

.register-container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
}

.login-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border: 1px solid #909090;
    box-shadow: 3px 5px 14px 1px #888888;
    margin-top: 200px;
}

.register-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border: 1px solid #909090;
    box-shadow: 3px 5px 14px 1px #888888;
    margin-top: 200px;
}

.login-btn {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.register-btn {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.login-logo {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.login-form-container a {
    font-size: 13px;
    color: #888888;
    text-decoration: none;
}

.login-form-container a:hover {
    color: #888888;
    text-decoration: none;
}

.register-form-container div:first-child span {
    font-size: 19px;
}

.register-form-container a {
    font-size: 13px;
    color: #888888;
    text-decoration: none;
}

.register-form-container a:hover {
    color: #888888;
    text-decoration: none;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 100%;
}

.library-search-container {
    margin: 20px auto;
    padding: 10px 0px;
    width: 500px;
}

.library-search-input {
    width: 80% !important;
}

.search-field-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    position: relative;
    top: 3px;
}

.bird-result-container {
    margin-bottom: 15px;
    height: 90px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #65724a;
    border-radius: 15px;
    box-shadow: 4px 5px #d8d8d83b;
    padding: 15px;
}

.bird-name {
    color: #65724a;
    font-size: 21px;
    text-decoration: none;
    text-underline: none;
    cursor: pointer;
}

.bird-name:hover, .bird-name:visited {
    color: #65724a;
    font-size: 21px;
}

.bird-name-lat {
    color: #6c757d;
}

.load-more-bird-results {
    margin-bottom: 15px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
