.map {
    position: fixed;
    height: 100%;
    width: 100%;
}

.location-selector-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 370px;
    border-top-left-radius: 80px;
    border: 1px solid #87986a;
}

.scale-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 250px;
    border-top-right-radius: 80px;
    border: 1px solid #87986a;
}

.user-container {
    color: white;
    background-color: #718355;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #87986a;
    text-align: center;
    z-index: 10;
}

.user-container .float-right {
    position: relative;
    right: 9px;
}

.user-container-header {
    height: 45px;
    padding-top: 8px;
}

.user-container-body {
    display: none;
    border-top: 1px solid #87986a;
    margin: 0 5px;
}

.user-container-body span {
    width: 100%;
    height: 25px;
    text-align: center;
}

.user-container-body span a, .user-container-body span a:hover {
    color: white !important;
    text-decoration: none;
}

.tool-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 75px;
    left: 55px;
    height: 540px;
    width: 330px;
    border-radius: 15px;
    border: 1px solid #87986a;
}

.search-field-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 20px;
    right: 25px;
    width: 330px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #87986a;
}

.search-result-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 100px;
    right: 25px;
    width: 330px;
    max-height: 700px;
    border-radius: 15px;
    border: 1px solid #87986a;
    display: none;
}

.tool-btn-container {
    position: fixed;
    top: 20px;
    right: 365px;
    height: 45px;
    width: 45px;
    padding-top: 10.5px;
    border-radius: 15px;
    border: 1px solid #87986a;
    background-color: rgba(255, 255, 255, 0.85);
}

.tool-btn-container .fa-tools {
    width: 100%;
    height: 60%;
}

.tool-btn-container.activate {
    background-color: #718355 !important;
    color: white !important;
}

.container-header {
    font-size: 19px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
}

.container-body {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main-search {
    padding-left: 13px;
    padding-right: 14px;
    padding-top: 2px;
}

.search-result-container .fa-times {
    position: relative;
    top: 2px;
}

.coordinate-text {
    margin-left: 12px !important;
    margin-top: 17px !important;
    font-size: 18px;
}

.location-selector-select {
    font-size: 18px;
    margin-top: 11px;
    margin-left: 53px;
    width: 307px;
    height: 40px;
}

.add-observation-container {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.add-observation-container span.title-text {
    font-size: 14px;
}

.add-observation-container .select2-container, .add-observation-container .select2-selection, .add-observation-container .select2-selection__rendered, .add-observation-container .select2-selection__arrow {
    height: 38px !important;
}

.analiyze-data-container .select2-container, .analiyze-data-container .select2-selection, .analiyze-data-container .select2-selection__rendered, .analiyze-data-container .select2-selection__arrow {
    height: 38px !important;
}

.add-observation-container .select2-selection, .analiyze-data-container .select2-selection {
    border: 1px solid #ced4da !important;
}

.add-observation-container .select2-selection__rendered, .analiyze-data-container .select2-selection__rendered {
    padding-top: 4px;
    padding-left: 12px !important;
    color: #6c757d !important;
}

.analiyze-data-container span.title-text {
    font-size: 14px;
}

.analiyze-data-container .btm-container {
    position: relative;
    bottom: 0px;
}

.analiyze-data-container .btm-container button {
    margin-left: auto;
    margin-right: auto;
}

#add-observation-location-selector {
    margin-left: auto;
    width: 95px;
}

.seasons-btn-container button {
    margin-left: auto;
    margin-right: auto;
}

.point-selector-container button {
    margin-right: 5px;
    float: left;
}

.point-selector-container .input-group {
    width: 120px;
}

#poligon-selector-btn {
    margin-left: auto;
    width: 100px;
}

#observation-number {
    width: 95px;
    margin-left: auto;
}

#add-observation-location-selector.activate {
    color: #fff;
    background-color: #28a745;
}

.result-info-container {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #87986a;
}

.observer-name-container {
    font-size: 14px;
    margin-bottom: 5px;
}

.bird-name-container {
    font-size: 20px;
    margin-bottom: 0px;
    color: #718355;
}
