.map {
    position: fixed;
    height: 100%;
    width: 100%;
}

.location-selector-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 370px;
    border-top-left-radius: 80px;
    border: 1px solid #87986a;
}

.scale-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 250px;
    border-top-right-radius: 80px;
    border: 1px solid #87986a;
}

.user-container {
    color: white;
    background-color: #718355;
    position: fixed;
    top: 25px;
    right: 30px;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #87986a;
    text-align: center;
    padding-top: 8px;
}

.user-container .float-right {
    position: relative;
    right: 9px;
}

.tool-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 135px;
    left: 40px;
    height: 650px;
    width: 330px;
    border-radius: 15px;
    border: 1px solid #87986a;
}

.search-field-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 105px;
    right: 30px;
    width: 330px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #87986a;
}

.search-result-container {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 165px;
    right: 30px;
    width: 330px;
    max-height: 700px;
    border-radius: 15px;
    border: 1px solid #87986a;
}

.container-header {
    font-size: 19px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
}

.container-body {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main-search {
    padding-left: 13px;
    padding-right: 14px;
    padding-top: 2px;
}

.search-result-container .fa-times {
    position: relative;
    top: 2px;
}
